@import '../../../../styles.scss';

.speech-list {
    margin: $topBotMargin;

    .list-actions {
        @include flexJustify(flex, space-between);
        margin-bottom: 20px;

        .search-speeches {
            width: 400px;
        }
    }

    .no-data {
        text-align: center;
        color: lightgray;
        margin: 200px;
    }
}



