
<div class="container speech-list">
    <div class="list-actions" *ngIf="speeches?.length > 0; else noData">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 search-speeches" 
                    type="search"
                    placeholder="Search"
                    aria-label="Search" 
                    [(ngModel)]="searchedWord"
                    [ngModelOptions]="{standalone: true}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchSpeeches()">Search</button>
        </form> 
        <button class="btn btn-primary" (click)="deleteAll()">Delete All Speeches</button>   
    </div>
    <ng-template #noData>
        <div class="no-data">
            Add Speeches
        </div>
    </ng-template>
    <app-row-item *ngFor="let speech of speeches" [speech]="speech"></app-row-item>
</div>