<form>
    <div class="form-group">
        <label>Speech Title</label>
        <input class="form-control-sm" type="email" class="form-control" placeholder="Title">
        <small id="emailHelp" class="form-text text-muted">Title or keywords about the speech</small>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Author</label>
                <input class="form-control-sm" type="email" class="form-control" placeholder="Author">
            </div>
        </div>
        <div class="col">
            <label>Date Created</label>
            <input class="form-control-sm" type="text" class="form-control" placeholder="mm/dd/yyyy">
        </div>
    </div>
    <div class="form-group">
        <label>Speech Content</label>
        <textarea class="form-control-sm" class="form-control" rows="8"></textarea>
    </div>
</form>