<form [formGroup]="speechForm" novalidate>
    <div class="form-group">
        <label>Speech Title<small class="required">*</small></label>
        <input class="form-control-sm form-control" 
                type="text"
                formControlName="speechTitle"
                placeholder="Title">
        <small class="form-text text-muted" *ngIf="!speechTitle">Title or keywords about the speech</small>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Author<small class="required">*</small></label>
                <input class="form-control-sm form-control" 
                        type="text"
                        formControlName="author"
                        placeholder="Author">
            </div>
        </div>
        <div class="col">
            <label>Date Created<small class="required">*</small></label>
            <input class="form-control-sm form-control"
                    type="text"
                    formControlName="dateCreated"
                    placeholder="yyyy/mm/dd"
                    ngbDatepicker 
                    #d="ngbDatepicker"
                    (click)="d.toggle()">
        </div>
    </div>
    <div class="form-group">
        <label>Speech Content<small class="required">*</small></label>
        <textarea class="form-control-sm form-control"
                    formControlName="speechContent"
                    rows="8">
        </textarea>
    </div>
</form>